html {
  font-size: 62.5%;

}

body {
  background-image: radial-gradient(circle, rgba(255, 0, 144, 0.20), rgba(255, 0, 144, 0.30));
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
}

header nav div #loguito {
  width: 8rem;
  margin-left: 4rem;
}

#imagencarrito {
  width: 9rem;
  padding-right: 1rem;
}

.carritodecompras {
  display: flex;
  align-items: center;
}

.carritodecompras span {
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 3rem;
}
#tipo-input {
  margin-left: 1rem;
}

#boton-buscar {
  margin-left: 1rem;
}

#cantidadcarrito {
  background-color: white;
}

header nav ul {
  margin-left: 4em;
}

header nav ul li {
  font-size: 2.5rem;
}

.redondeada {
  border-radius: 2rem;
  border-color: black;
  text-indent: 1rem;
}

#barrabusqueda {
  padding: 0rem 0rem 2rem 2rem;
  font-size: 3rem;
  font-family: Helvetica;
  display: flex;
  justify-content: space-between;

}


main section {
  margin: 9.5rem 0rem 2rem 0rem;
  display: grid;


}



header .contenedor {
  z-index: 2050;
  display: flex;
  position: fixed;
  margin-top: 3.5rem;
  width: 94%;
  padding-top: 0.5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

header .contenedor .abajonav {
  color: rgb(12, 213, 32);
  position: fixed;
  font-size: 4rem;
}


main section article div #posiciontienda {
  display: grid;
  align-items: stretch;
  width: 80%;
  margin-top: 4rem;
  font-size: 5rem;
}

footer {
  background-color: rgba(0, 255, 111, 0.30);
  margin-top: auto;
  font-size: 1.5rem;
}

.gridfoot {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}


.gridfoot a {
  text-decoration: none;
  color: black;
}

.gridfoot .redes {
  grid-column-start: 1;
  display: flex;
  align-items: flex-end;
  padding-left: 2rem;
}

.gridfoot .derechos {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  padding-right: 0.5em;
}

.gridfoot .subir {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: right;
  padding-right: 3rem;
  padding-top: 0.5em;
}

@keyframes paraarriba {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.gridfoot .subir .flechita {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
  animation-name: paraarriba;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}


.icon {
  max-width: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  margin-left: 0;
  border-radius: 0.5rem;
}

.insta {
  padding-top: 1rem;
}

.wp {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.posiciontienda {
  box-sizing: border-box;
  display: grid;
}



.demostracion button {
  font-size: 1.8rem;
  border-radius: 2rem;
  background-color: blueviolet;

}
.pagar-carrito {
  font-size: 4rem;
  border-radius: 2rem;
  background-color: rgb(116, 43, 226);

}
.demostracion label {
  font-size: 2rem;
}

.demostracion form {
  margin-top: 4rem;
}

#vaciar-carrito {
  border-radius: 3rem;
  margin-left: auto;
  margin-right: 1rem;

}
main section h2 {
  font-size: 4rem;
  margin-top: 2.5rem;
  font-family: 'Roboto';
}

main section p {
  font-size: 1.7rem;
  
}
.demostracion input {
  font-size: 2rem;
  border-radius: 4rem;
  text-align: center;
  padding: 0;
}

#tienda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
 
}
#carroversifunciona{
  text-align: center;
  font-size: 4rem;
  margin-top: 2.5rem;
  font-family: 'Roboto';
}
.demostracion {
  background-color: grey;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imagentienda{
  border-radius: 2rem;
  width: 100%;
  height: 50%;
}
.demostracion form {
  margin-top: auto;
  margin-top: 1rem;
}